.pagina-divs{

a {
    text-decoration: none;
    .card {
        flex-wrap: wrap; 
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 180px;
        height: 158px;
        border-radius: 12px;
        gap: 10px;


        .cor {
            background-color: #FFCE37;
            width: 60px;
            height: 60px;
            border-radius: 12px;
        }

 
         

        h2,h3 {
            font-family: "Roboto", sans-serif;
            color: #000000;
            margin: 0px;
            line-height: 16.41px

        }

        h2 {
            font-size: 16px;
            font-weight: 700;
          

        }

        h3 {
            font-size: 14px;
            font-weight: 400;

        }

        
    }
}
}