.pagina-inicio {
    min-width: 100vh; 
    padding-bottom: 30px;
    background-color: #F5F6FA;
   

    section {
        display: flex;
        flex-direction: column;
        margin: 4rem 6rem;
        gap: 2rem;

        h1 {
            font: 700 26px "Roboto", sans-serif;
        }

        .exercicios {
            display: flex;
            flex-direction: row;
            gap: 3.5rem;


        }
    }
}