body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagina {

  min-height: 100vh;

  background-color: #F5F6FA;

  .titulo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 6rem;
      margin-right: 6rem;
      margin-top: 4rem;
      gap: 15px;

      img {
          width: 50px;
          height: 40px;
      }

      h1 {
          font: 700 26px "Roboto", sans-serif;
          color: #383131;
      }
  }

  .divisao {
      background-color: #ff3737;
      max-width: 1275px;
      height: 4px;
      border-radius: 12px;
      margin: 0px 4rem;
      margin-top: 20px;
  }

  .quadro {
      background-color: #fff;
      max-width: 1275px;
      height: 213px;
      margin: 0rem 4rem;
      border-radius: 12px;
      margin-top: 3rem;
      flex-wrap: nowrap;
     


      p {
          font: 400 16px "Roboto", sans-serif;
          text-align: center;
          padding-top: 5rem;
          width: 1200px;
          line-height: 16px;

      }
  }
}